<div id="message-<%= message.id %>">
  <div class="messageschat">
    <% if message.user == current_user %>
        <div class="messagesender">
          <div class="messasendercontain">
          <small>

            <strong><%= message.user.email %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
          </div>
          <% else %>
          <div class="messagerecipient text-end">
          <div class="messagerecipeintcontain">
          <small>
            <strong><%= message.user.email %></strong>
            <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </small>
          <p><%= message.content %></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
