
<div class="tinder--card" data-id=<%= dog.id %>>
        <%# <img src="https://placeimg.com/600/300/people"> %>
  <% if dog.photos.attached? %>
  <%= cl_image_tag dog.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <%= image_tag "dog.jpg", height: 300, width: 400, crop: :fill %>
  <% end %>
    <span class="name">
      <%= link_to dog_path(dog) do %>
        <h2><%= dog.name %></h2>
      <% end %>
      <h4>Ce que j'aime faire :</h4>
        <%= dog.centre_interet %>
    </span>
</div>
