<div class="general-create">
  <div class="titre-create">
    <h3>Mon chien.</h3>
  </div>
      <%= simple_form_for @dog do |f| %>
      <div class="field-create">
        <%= f.input :name, label: "Nom" %>
      </div>
      <div class="field-create">
        <%= f.input :breed, label: "Race" %>
      </div>
      <div class="field-create">
        <%= f.input :location_cp, label: "Code Postal" %>
      </div>
      <div class="field-create">
        <%= f.input :description, label: "Description" %>
      </div>
      <div class="field-create">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <div class="field-create">
        <%= f.input :centre_interet, collection:["Nager", "Voler des chaussettes", "Courir en montagne", "Faire la sieste", "Creuser des trous",
"Chasser les chats", "Ronger mon nonos", "Jouer à la baballe", "Canicross", "Agility", "Suivre une piste","Attraper les méchants",
"Mordre le facteur", "Jouer au freesbee"] %>
      </div>
      <div class="field-create">
        <%= f.submit "Ajouter le chien", class: 'btn btn-primary' %>
      </div>
      <% end %>
</div>
