<div class="general-create">
  <div class="titre-create">
    <h3>Mon chien.</h3>
  </div>
      <%= simple_form_for @dog do |f| %>
      <div class="field-create">
        <%= f.input :name, label: "Nom" %>
      </div>
      <div class="field-create">
        <%= f.input :breed, label: "Race" %>
      </div>
      <div class="field-create">
        <%= f.input :location_cp, label: "Code Postal" %>
      </div>
      <div class="field-create">
        <%= f.input :description, label: "Description" %>
      </div>
      <br>

      <div class="field-create">
        <%= f.input :photos, as: :file, input_html: { multiple: true },label: "Photos" %>
      </div>
      <div class="field-create">
         <%= f.input :centre_interet, collection: ["Canicross", "Manger miam miam", "Parcours d'agilité", "Courir en montagne", "Nager", "Chasser les chats", "Ronger mon nonos", "Jouer à la babille", "Faire la sieste", "Poursuivre le facteur"],include_blank: "Mon loisir favori", label: "Loisir favori" %>
      </div>
      <div class="field-create">
        <%= f.submit "Ajouter le chien", class: 'btn btn-primary' %>
      </div>
      <% end %>
</div>
