<%# <% @dog.photos.each do |photo| %>
  <%# <%= cl_image_tag photo.key%>
<%# <% end %>
<div class="card-general">
  <div class="head">
    <h1>Doginder.</h1>
  </div>
  <div class="infos-dog">
    <div class="dog-name">
      <h2><%= @dog.name %></h2>
    </div>
    <div class="description">
      <% if @dog.photos.attached? %>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="1">
          <%= cl_image_tag @dog.photos.first.key, height: 300, width: 400, crop: :fill %>
          </div>
         <% @dog.photos.each do |photo| %>
         <div class="carousel-item">
         <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
         <% end %>
         </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% else %>
      <%= image_tag "dog.jpg", height: 300, width: 400, crop: :fill %>
      <% end %>

    <div>
<% if user_signed_in? %>

    <%= link_to "maitre", profil_path(@dog.user)  %>
    <% end %>
    </div>
      <p><i class="fas fa-paw"></i><%= @dog.breed %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= @dog.location_cp %></p>
      <p><i class="fas fa-bone"></i><%= @dog.description %></p>
    </div>
      <div class="infos-boutons">

        <%# <div class="chattez">
          <%= link_to "Chattez!", dog_chatrooms_path(@dog.id), method: :post%>
        <%# </div> %>


        <div class="retour">
          <%= link_to "retour", dogs_path%>
        </div>
      </div>
    </div>
  </div>
</div>
