<div class="card-general">
  <div class="header">
    <h1>Doginder.</h1>
  </div>
  <div class="infos-dog">
    <div class="dog-name">
      <h1><%= @dog.name %></h1>
    </div>
    <%# <% <div>
      <% <%= link_to photo_path(photo) do %>
      <%# <% <%= end %>
    <%# <% </div> %>
    <% @dog.photos.each do |photo|%>
    <%= cl_image_tag photo.key %>
    <% end %>

    <div class="description">

      <div class="image">
        <%# <%= image_tag('rex.jpg', id:"rex")  %>
      </div>
        <p><%= @dog.breed %></p>
        <p><%= @dog.location_cp %></p>
        <p><%= @dog.description %></p>
      </div>
<%= link_to "methde create", dog_chatrooms_path(@dog.id),    method: :post%>
    </div>

  </div>

</div>
