<div class="card-general">
  <div class="infos-dog">
    <div class="dog-name">
      <h1><%= @dog.name %></h1>
    </div>

    <%# <% <div>
      <% <%= link_to photo_path(photo) do %>
      <%# <% <%= end %>
    <%# <% </div> %>

    <div class="description">
      <p><%= @dog.breed %></p>
      <p><%= @dog.description %></p>
      <p><%= @dog.location_cp %></p>
    </div>
  </div>
</div>
