<div>
<h1>Doginder</h1>
  <div class="slogan">
    <h2>Pour jouer à la baballe à plusieurs!</h2>
  </div>
 <h2> <%= link_to  "dog", dogs_path  %></h2>
  <%# <div>
    <%# <%= link_to calendar_path(calendar) do %>
    <%# <%= end %>
  <%# </div>
  <div> %>
    <%# <%= link_to map_path(map) do %>
    <%# <%= end %>
  <%# </div>  %>

</div>
