<div class="full-page">
  <div class="header">
    <h1>Doginder.</h1>
  </div>
  <div class="slogan">
    <h2>Pour jouer à la baballe à plusieurs!</h2>
  </div>
  <div id="core-search">
    <%= form_tag dogs_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Entrez votre code postal"
    %>
      <%= submit_tag "Search", class: "tapbar-chat bouton" %>
      <% end %>
  </div>
  <div id="core-search">
    <%= form_tag dogs_path, method: :get do %>
    <%= select :queryinterest,
      params[:queryinterest],
      class: "form-control",
      placeholder: "Ce que j'aime le plus "
    %>
      <%= submit_tag "Search", class: "tapbar-chat bouton" %>
      <% end %>
  </div>
  <div id="core_dog">
    <%= link_to "voir tous les compagnons de Baballe", dogs_path, class: "tapbar-chat bouton"%>
  </div>
</div>
