<div class="full-page">
  <div class="header">
    <h1>Doginder.</h1>
  </div>
    <div class="slogan">
      <h2>Pour jouer à la baballe à plusieurs!</h2>
    </div>
    <%# <div>
      <%# <%= link_to calendar_path(calendar) do %>
      <%# <%= end %>
    <%# </div>
    <div> %>
      <%# <%= link_to map_path(map) do %>
      <%# <%= end %>
    <%# </div>  %>
        <%# <div> %>
      <%# <%= link_to dogs_path(dogs) do %>
      <%# <%= end %>
    <%# </div>  %>
</div>
