<div class="full-page">
  <div class="header">
    <h1>Doginder.</h1>
  </div>
  <div class="slogan">
    <h2>Pour jouer à la baballe à plusieurs!</h2>
  </div>
  <br>
  <div id="core-search">
    <%= form_tag dogs_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Mon code postal"
    %>

    <br>
  <%= select :queryinterest,
      params[:queryinterest],
      ["Canicross", "Manger", "Parcours d'agilité", "Courir en montagne", "Nager", "Chasser les chats", "Ronger mon nonos", "Jouer à la baballe", "Faire la sieste", "Poursuivre le facteur"], include_blank: "Mon loisir favori"
    %>
    <br>
    <br>
      <%= submit_tag "Rechercher", class: "tapbar-chat bouton" %>
      <% end %>
    <div id="core_dog">
      <%= link_to " Voir tous les compagnons", dogs_path, class: "tapbar-chat bouton"%>
    </div>
  </div>
</div>
