<div class="card-general">
  <div class="head">
    <h1><%= @user.pseudo %></h1>
  </div>

    <div class = "infos-dog">
    <% if @user.id == current_user.id %>
      <div class="avatar-container">
      <div id="avatar-user">
        <%= image_tag @user.image_avatar, size:"250x300"%>
        <% @user.dogs.each do |dog| %>

        <%= link_to dog_path(dog.id, query: params[:query], queryinterest: params[:queryinterest]) do %>
        <div class="dogavatar">
         <% if dog.photos.attached? %>
        <%= cl_image_tag dog.photos.first.key, height: 100, width: 100, crop: :fill %>
        <% else %>
      <%= image_tag "dog.jpg", height: 100, width: 100, crop: :fill %>
      <% end %>
      </div>
        <% end %>
        <% end %>
         </div>
      </div>
        <div class = "description">
        <br>
        <p><i class="fas fa-portrait"></i>&nbsp;&nbsp;<%= @user.description  %></p>
        <br>
        <p><i class="fas fa-envelope"></i>&nbsp;&nbsp;<%= @user.email %></p>
        <p><i class="fas fa-user-alt"></i>&nbsp;&nbsp;<%= @user.first_name %> <%= @user.last_name.capitalize %></p>
      </div>
        <div id="dog-create">
          <%= link_to "Ajouter un chien", new_dog_path%>
        </div>
        <% else %>
      <div class="avatar-container">
          <div id="avatar-user">
            <%= image_tag @user.image_avatar %>
            <% @user.dogs.each do |dog| %>
        <%= link_to dog_path(dog.id, query: params[:query], queryinterest: params[:queryinterest]) do %>
        <div class="dogavatar">
        <% if dog.photos.attached? %>
        <%= cl_image_tag dog.photos.first.key, height: 100, width: 100, crop: :fill %>
        <% else %>
      <%= image_tag "dog.jpg", height: 100, width: 100, crop: :fill %>
      <% end %>
        </div>
        <% end %>
        <% end %>
          </div>
          </div>
          <br>
          <div class = "description">
        <p><i class="fas fa-portrait"></i>&nbsp;&nbsp;<%= @user.description  %></p>
      </div>
        <% end %>
    </div>
</div>
