
<div class="card-general">
  <div class="head">
    <h1><%= @user.pseudo %></h1>
  </div>
    <div class = "infos-dog">
    <% if @user.id == current_user.id %>
      <div id="avatar-user">
        <%= image_tag @user.image_avatar, size:"300x400"%>
        <% @user.dogs.each do |dog| %>
        <%= cl_image_tag dog.photos.first.key, height: 100, width: 100, crop: :fill, radius:"max" %>
        <% end %>
      </div>
        <div class = "description">
        <p><strong> Ma description: </strong></p>
        <p><%= @user.description  %></p>
        <p><strong> Mon Email: </strong></p>
        <p><%= @user.email %></p>
        <p><strong> Mon pseudo: </strong></p>
        <p><%= @user.pseudo %></p>
        <p><strong> Mon prenom: </strong></p>
        <p><%= @user.first_name %></p>
        <p><strong> Mon nom:</strong></p>
        <p><%= @user.last_name %></p>
      </div>
        <div id="dog-create">
          <%= link_to "Ajouter un chien", new_dog_path%>
        </div>
        <% else %>
          <div id="avatar-user">
            <%= image_tag @user.image_avatar, size:"300x300" %>
            <% @user.dogs.each do |dog| %>
            <div class="dogavatar">
          <%= cl_image_tag dog.photos.first.key, height: 100, width: 100, crop: :fill %>
          </div>
        <% end %>
          </div>
                <div class = "description">
        <p><strong> Pseudo: </strong></p>
        <p><%= @user.pseudo %></p>
        <p><strong> Description: </strong></p>
        <p><%= @user.description  %></p>
      </div>
        <% end %>
    </div>
</div>
